.top_section {
    display: flex;
    background-color: #2C2C2E;
    height: 100px;
    
    box-sizing: border-box;
    /* border-width: 10px;
    border-style: solid;
    border-color: red;
    */
}

.logo {
    float: left;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    /* border-width: 10px;
    border-style: solid;
    border-color: blue; */
    width: 50%;
}

#menu {
    padding-top: 30px;
    padding-right: 30px;
    max-width: 40px;
}

#Titel{
    color: white;    
    font-family: helvetica Neue;
    font-size: 30px;
    font-weight: 450;
}

.Titel {
    color: white;
}

.hamburger_menu{
    float: right;
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;  
    /* border-width: 10px;
    border-style: solid;
    border-color: blue;
 */
}
.Mitten{
    position: relative;
    /* border-width: 10px;
    border-style: solid;
    border-color: blue; */
    background-color: #2C2C2E;
}
/* .CenterRubrik{
    font-style: Helvetica;
} */
#ProjektArbete{
    display: flex;
    color: white;
    justify-content: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    font-size: 80px;
    /* border-width: 10px;
    border-style: solid;
    border-color: rgb(102, 255, 0); */
    font-family: Helvetica Neue;
    font-weight: 450;
}
#grupp{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.796);
    font-family: Helvetica Neue;
    font-size: 30px;
    font-weight: 400;
    /* border-width: 10px;
    border-style: solid;
    border-color: blue; */
}
#bakgrundsbild{
    max-width: 100%;
    height: auto;
}
.Neder{
    display: flex;
    bottom: 20px;
    background-color: #2C2C2E;
    height: 400px;
}
#ner{
    display: flex;
    bottom: 20px;
    width: 1400px;
    /* border-width: 10px;
    border-style: solid;
    border-color: blue; */
    background-color: #2C2C2E;
}
ul {
    list-style-type: none; /*Removes all styling for the unordred list, including the bullet points */
}




/* ################################################################# */
/* #                                                               # */
/* #                             MENU                              # */
/* #                                                               # */
/* ################################################################# */

/* Removes the "white border" around a flexbox and sets height to same size as the devices screen height*/
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #2C2C2E;
}

.pop_over_menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1; /* Sets the pop_over_menu over the main page */
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    transition: 0.5s;
}

.menu_list {
    /* Center all list items (vertically) inisde the unordered list */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Removes indentation of ul*/
    padding: 0;

    list-style-type: none;
}

li {
    color: #6D9DC5;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: medium;
    margin-bottom: 50px;
    margin-top: 50px;
}

.menu_item {
    color: #6D9DC5; 

    /* Transision on menu_item --> Will be seen at hover, since color will change to white */
    transition: color 0.25s ease-in;
    text-decoration: none;
}

.menu_item:hover{
    color: white;
}

.exit_button {
    display: flex;
    flex-direction: row-reverse;
}

#exit_img {
    padding-top: 30px;
    padding-right: 30px;
    max-width: 40px;
}