.NavigationBar {
    display: flex;
    background-color: #2C2C2E;
    height: 100px;
    
    box-sizing: border-box;
    border-width: 10px;
    border-style: solid;
    border-color: red;
   
}

.logo {
    float: left;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    border-width: 10px;
    border-style: solid;
    border-color: blue;
    width: 50%;
}

#Titel{
    color: white;
    /* font-style: ; */
}

#menu{
    width: auto;
    max-height: 30px;
}

.HamburgerMenu{
    float: right;
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    border-width: 10px;
    border-style: solid;
    border-color: blue;
}
.Mitten{
    border-width: 10px;
    border-style: solid;
    border-color: blue;
}
.CenterRubrik{
    border-width: 10px;
    border-style: solid;
    border-color: red;
}
#ProjektArbete{
    border-width: 10px;
    border-style: solid;
    border-color: rgb(102, 255, 0);
}
#grupp{
    border-width: 10px;
    border-style: solid;
    border-color: blue;
}

ul {
    list-style-type: none; /*Removes all styling for the unordred list, including the bullet points */
}


/* ################################################################# */
/* #                                                               # */
/* #                             MENU                              # */
/* #                                                               # */
/* ################################################################# */

.main {
    
}

.menu_buttons {
    display: flex;
    justify-content: center;

    box-sizing: border-box;

    border-width: 1px;
    border-style: solid;
}

li {
    color: blue;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: medium;
    margin-bottom: 100px;
    margin-top: 100px;
}


.test {
    display: flex;

    border-width: 10px;
    border-color: red;
    border-style: solid;

    height: 100px;
}


#leftBox {
    display: flex;
    width: 50%;
    float: left;

    justify-content: flex-start;

    border-width: 10px;
    border-color: yellow;
    border-style: solid;
}

#rightBox {
    display: flex;
    width: 50%;
    float: right;

    justify-content: flex-end;

    border-width: 10px;
    border-color: blue;
    border-style: solid;
}