


.NavigationBar {
    box-sizing: border-box;
    border-width: 10px;
    border-color: #2C2C2E;
    border-style: solid;
    background-color: #2C2C2E;
    width: 100%;
}

.logo {
    
}
.Titel{
color: white;
}